<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <section>
    <div class="mast">
      <h1>T<span>SSB</span></h1>
    </div>
  </section>

<div class="wrapper">
  <h1 id="register-label">Admin Register</h1>

  <hr>
  <form id="login" action="/admin/login" method ="POST">

    <div>
      <label>Email:</label>
      <input type="text" name="email" placeholder="email">
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" placeholder="password">
    </div>

    <input type="submit" name="register" value="register">
  </form>

</div>
<section class="foot">
  <div>
    <p>&copy; 2016;
  </div>
</section>
</body>
</html>
